@import 'variables.scss';
@import 'rem.scss';

.header-button{
  border-radius: rem(15px);
  font-size: rem(18px);
}


#my-name{
  border-left: $davie rem(2px) solid;
  font-size: rem(26px);
}

#theme-changer{
  border: 2px solid transparent;
  background-color: transparent;
}

#svg-changer{
  width: 25px;
  height: 25px;
}

.contacts:hover{
    color:black;
    box-shadow: 2px 2px black;
    
}
svg{
  transition: -0.5s;
}
#btn1, #btn2{
  transition: 0s;
}